.content-cards-container{
    margin-top: 30px;
    display: flex;
    position: relative;

    @media screen and (max-width: 500px) {
        justify-content: center;
      }

    @media screen and (min-width: 500px) {
        margin: 30px 20px;
    }
    
    .scroll-text {
        text-align: center;
    }
}

.end-message {
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    width: 100%;

    p {
        width: 100%;
    }
}



.infinite-scroll-component{
    overflow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 500px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

    }



    .content-card{
        flex: 1;
        align-items: flex-start;
        display: flex;
        padding-left: 10px;

    }

    .content-card-inner{
        width: 200px;
       margin: auto;
   }

   .heart-animation {
    position: absolute;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png');
      top: -14.9px;
      background-size: 2900%;
    background-position: left;
      height: 50px;
      width: 50px;
    cursor: pointer;
    right: -25px;
    margin-right: 8px;
  }
  
  .animate {
    animation: heart-burst .8s steps(28) forwards;
  }
  
  @keyframes heart-burst {
      0% {
          background-position: left
      }
      100% {
          background-position: right
      }
  }
  

}


  
  
  
  