.banner-container{
    height: 50px;
    width: 100%;
    background-color: #e5e5e5;
    position: relative;
    
    .banner-text{
        top: 30%;
        position: absolute;
        margin-left: 30px;
        font-size: 15px;

        span {
            margin-right: 18px;
        }
    }
}